Source: vanilla-base-meta
Section: admin
Priority: required
Maintainer: Mirko Brombin <send@mirko.pm>
Build-Depends: debhelper (>= 11),
Homepage: https://github.com/vanilla-os/vanilla-base-meta/
Vcs-Browser: https://github.com/vanilla-os/vanilla-base-meta
Vcs-Git: https://github.com/vanilla-os/vanilla-base-meta.git
Rules-Requires-Root: no

Package: vanilla-base-meta
Architecture: all
Depends: gpg,
         btrfs-progs,
         curl,
         bash-completion,
         acpi,
         acpi-call-dkms,
         alsa-base,
         alsa-utils,
         anacron,
         at-spi2-core,
         bc,
         ca-certificates,
         foomatic-db-compressed-ppds,
         power-profiles-daemon,
         powermgmt-base,
         genisoimage,
         ghostscript-x,
         gvfs-backends,
         gsettings-desktop-schemas,
         gstreamer1.0-alsa,
         gstreamer1.0-plugins-base-apps,
         gstreamer1.0-pulseaudio,
         gstreamer1.0-libav,
         inputattach,
         libatk-adaptor,
         libnotify-bin,
         libsasl2-modules,
         libu2f-udev,
         modemmanager,
         network-manager,
         network-manager-config-connectivity-ubuntu,
         network-manager-openvpn,
         network-manager-fortisslvpn,
         network-manager-iodine,
         network-manager-l2tp,
         network-manager-openconnect,
         network-manager-pptp,
         network-manager-ssh,
         network-manager-sstp,
         network-manager-strongswan,
         network-manager-vpnc,
         openprinting-ppds,
         printer-driver-pnm2ppa,
         pulseaudio,
         pipewire-pulse,
         libspa-0.2-bluetooth,
         libcanberra-pulse,
         webp-pixbuf-loader,
         heif-gdk-pixbuf,
         heif-thumbnailer,
         rygel,
         openssh-server,
         rfkill,
         spice-vdagent,
         ssh-askpass-gnome,
         system-config-printer-common,
         system-config-printer-udev,
         tracker,
         ubuntu-drivers-common,
         unzip,
         wireless-tools,
         wpasupplicant,
         xdg-desktop-portal-gnome,
         xdg-user-dirs,
         xdg-user-dirs-gtk,
         xkb-data,
         zenity,
         zip,
         zsync,
         avahi-autoipd,
         avahi-daemon,
         bluez,
         bluez-cups,
         brltty,
         cups,
         cups-bsd,
         cups-client,
         cups-filters,
         cups-pk-helper,
         dirmngr,
         exfatprogs,
         fwupd,
         fwupd-signed,
         firmware-sof-signed,
         fprintd,
         libpam-fprintd,
         gpg-agent,
         gvfs-fuse,
         hplip,
         ibus,
         ibus-gtk,
         ibus-gtk3,
         ibus-gtk4,
         ibus-table,
         im-config,
         language-pack-en,
         language-pack-gnome-en,
         kerneloops,
         laptop-detect,
         libglib2.0-bin,
         libnss-mdns,
         libpam-gnome-keyring,
         libproxy1-plugin-gsettings,
         libproxy1-plugin-networkmanager,
         libwmf0.2-7-gtk,
         memtest86+,
         mousetweaks,
         ntfs-3g,
         nfs-common,
         pcmciautils,
         policykit-desktop-privileges,
         ppa-purge,
         printer-driver-brlaser,
         printer-driver-c2esp,
         printer-driver-foo2zjs,
         printer-driver-gutenprint,
         printer-driver-m2300w,
         printer-driver-min12xxw,
         printer-driver-ptouch,
         printer-driver-pxljr,
         printer-driver-sag-gdi,
         printer-driver-splix,
         pulseaudio-module-bluetooth,
         steam-devices,
         speech-dispatcher,
         xdg-utils,
         nano,
         ntfs-3g,
         samba-common-bin,
         wireplumber,
         libvulkan1,
         mesa-vulkan-drivers,
         libvdpau1,
         mesa-vdpau-drivers,
         vdpau-driver-all,
         vanilla-system-operator,
         vanilla-systemd-units,
         base-files,
         apx,
         abroot
Description: This meta package contains all the packages needed to have a working Vanilla OS system.
